@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@200..800&display=swap");

:root {
    --color-grayish-blue: hsl(216, 30%, 68%);
    --color-dark-violet: hsl(256, 26%, 20%);
    --color-neutral-100: hsl(0, 0%, 98%);
    --color-neutral-200: hsl(273, 4%, 51%);
    --color-neutral-300: hsl(270, 9%, 17%);

    --font-family-default: "Karla", sans-serif;
    --font-family-serif: "DM Serif Display", serif;

    --font-size-100: 0.875rem;
    --font-size-200: 1rem;
    --font-size-300: 1.25rem;
    --font-size-400: 1.75rem;
    --font-size-500: 3rem;
    --font-size-600: 4.5rem;

    --font-weight-normal: 400;
    --font-weight-bold: 700;

    --space-0: 0rem;
    --space-100: 0.25rem;
    --space-200: 0.5rem;
    --space-300: 0.75rem;
    --space-400: 1rem;
    --space-500: 1.25rem;
    --space-600: 1.5rem;
    --space-700: 1.75rem;
    --space-800: 2rem;
    --space-900: 2.25rem;
    --space-1000: 2.5rem;
    --space-1100: 2.75rem;
    --space-1200: 3rem;
    --space-1300: 3.25rem;
    --space-1400: 3.5rem;
    --space-1500: 3.75rem;
    --space-1600: 4rem;

    --container: 69.375rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: var(--font-family-default);
    font-size: var(--font-size-200);
    color: var(--color-neutral-300);
    background-color: var(--color-neutral-100);
    line-height: 1.625;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-serif);
    font-weight: var(--font-weight-normal);
    letter-spacing: -0.015em;
}

body.no-scroll {
    overflow: hidden;
}

.btn {
    display: block;
    padding: calc(var(--space-200) + 2px);
    width: 100%;
    font-size: var(--font-size-100);
    font-weight: var(--font-weight-bold);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.143;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    transition: 200ms ease-in;
}

.btn--dark {
    color: var(--color-neutral-300);
    border-color: var(--color-neutral-300);
}

.btn--dark:hover {
    color: var(--color-neutral-100);
    background-color: var(--color-neutral-300);
}

.btn--light {
    color: var(--color-neutral-100);
    border-color: var(--color-neutral-100);
}

.btn--light:hover {
    color: var(--color-neutral-300);
    background-color: var(--color-neutral-100);
}

.header {
    position: fixed;
    z-index: 999;
    display: block;
    top: 0;
    padding: var(--space-500);
    width: 100%;
    background-color: var(--color-neutral-100);
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    max-width: var(--container);
}

.header__menu-item--nav[aria-hidden="true"] {
    display: none;
}

.header__menu-item--button {
    display: none;
}

.header__nav-container,
.header__nav-list {
    display: flex;
    align-items: center;
}

.header__nav-container {
    column-gap: 2rem;
}

.header__nav-list {
    column-gap: calc(var(--space-600) + 1px);
}

.header__nav-link {
    font-size: var(--font-size-100);
    font-weight: var(--font-weight-bold);
    color: var(--color-neutral-200);
    text-transform: uppercase;
    letter-spacing: 0.06em;
    transition: color 300ms ease;
}

@media only screen and (min-width: 992px) {
    .header__nav-link:hover {
        color: var(--color-neutral-300);
    }
}

.header__callout {
    width: 9.125rem;
}

.header__callout .btn {
    letter-spacing: 0.06em;
}

.header__callout .btn {
    font-weight: var(--font-weight-bold);
}

.hamburger {
    display: block;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

@media only screen and (max-width: 991px) {
    .header {
        padding: var(--space-600);
    }

    .header__menu-item--nav {
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        height: calc(100vh - 5rem);
        padding-inline: var(--space-600);
        background-color: var(--color-neutral-300);
    }

    .header__nav-container::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 13.625rem;
        background-image: url("./images/bg-pattern-mobile-nav.svg");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }

    .header__nav-container {
        margin-inline: auto;
        max-width: 24rem;
    }

    .header__nav-container {
        flex-direction: column;
    }

    .header__nav-list {
        display: grid;
        row-gap: var(--space-1000);
        margin-block: var(--space-1200) var(--space-800);
        padding: 0;
    }

    .header__nav-item {
        text-align: center;
    }

    .header__nav-link {
        position: relative;
        font-size: var(--font-size-300);
        color: var(--color-neutral-100);
        letter-spacing: 0.07em;
    }

    .header__nav-link::before {
        content: "";
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        background-color: var(--color-neutral-100);
        transition: transform 300ms ease;
    }

    .header__nav-link:hover::before {
        transform: scaleX(1);
    }

    .header__callout {
        width: 100%;
    }

    .header__callout .btn {
        padding: var(--space-400) calc(var(--space-300) + 1px);
        font-size: var(--font-size-300);
        letter-spacing: 0.07em;
    }

    .header__callout .btn.btn--dark {
        color: var(--color-neutral-100);
        border-color: var(--color-neutral-100);
    }

    .header__callout .btn.btn--dark:hover {
        color: var(--color-neutral-300);
        background-color: var(--color-neutral-100);
    }

    .header__menu-item--button {
        display: block;
    }
}

.viewport {
    margin-top: 5rem;
}

.hero {
    color: var(--color-neutral-100);
    background-color: var(--color-dark-violet);
}

.desktop {
    display: none;
}

.mobile {
    display: block;
}

.hero .img-container {
    max-height: 451px;
}

.hero .img-container .mobile {
    width: 100%;
}

.hero .content-container {
    position: relative;
    z-index: 1;
    padding: 5.875rem calc(var(--space-600) + 2px);
}

.hero .content-container::before,
.hero .content-container::after {
    content: "";
    position: absolute;
    display: block;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero .content-container::before {
    top: 0;
    left: 0;
    width: 10.5rem;
    height: 10.3125rem;
    background-image: url("./images/bg-pattern-intro-left-mobile.svg");
}

.hero .content-container::after {
    bottom: -176px;
    right: 0;
    width: 7.75rem;
    height: 20.625rem;
    background-image: url("./images/bg-pattern-intro-right-mobile.svg");
}

.hero .text-container {
    margin-bottom: clamp(
        calc(var(--space-700) + 2px),
        1.445rem + 0.897vw,
        var(--space-800)
    );
    text-align: center;
}

.hero .text-container h1 {
    margin-bottom: clamp(
        var(--space-400),
        -1.571rem + 5.357vw,
        var(--space-700)
    );
    font-size: clamp(
        var(--font-size-500),
        -2.143rem + 10.714vw,
        var(--font-size-600)
    );
    line-height: clamp(3rem, -0.429rem + 7.143vw, 4rem);
}

.hero__callout {
    width: 9.125rem;
    margin-inline: auto;
}

@media only screen and (min-width: 440px) {
    .hero .content-container {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    }

    .hero .content-container::before,
    .hero .content-container::after {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .hero {
        position: relative;
        z-index: 1;
        padding-inline: calc(var(--space-600) + 2px);
    }

    .hero::before,
    .hero::after {
        content: "";
        position: absolute;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero::before {
        z-index: -1;
        bottom: -20.875rem;
        left: 0;
        width: 12.1875rem;
        height: 31.5rem;
        background-image: url("./images/bg-pattern-intro-left-desktop.svg");
    }

    .hero::after {
        top: -5rem;
        right: 0;
        width: 27.25rem;
        height: 37.125rem;
        background-image: url("./images/bg-pattern-intro-right-desktop.svg");
    }

    .hero__container {
        display: flex;
        flex-direction: row-reverse;
        column-gap: calc(var(--space-800) + 3px);
        max-width: var(--container);
        height: 37.5rem;
        margin-inline: auto;
        padding-top: 6.5625rem;
    }

    .hero .content-container {
        position: relative;
        flex: 1 1 0;
        padding: 0;
        padding-top: var(--space-1600);
        background: none;
    }

    .hero .content-container::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 9.375rem;
        height: 1px;
        background-color: var(--color-neutral-100);
    }

    .hero .text-container {
        text-align: left;
    }

    .hero__callout {
        margin-inline: 0;
    }
}

.feature-panel {
    margin-block: 8.75rem;
    padding-inline: calc(var(--space-600) + 2px);
    text-align: center;
}

.feature-panel h2 {
    position: relative;
    padding-block: var(--space-1000);
    margin-bottom: var(--space-1000);
    font-size: clamp(
        var(--font-size-500),
        -2.143rem + 10.714vw,
        var(--font-size-600)
    );
    line-height: clamp(3rem, -0.429rem + 7.143vw, 4rem);
}

.feature-panel h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 9.375rem;
    height: 1px;
    display: block;
    background-color: var(--color-neutral-200);
}

.features {
    display: grid;
    gap: var(--space-1400);
}

.feature .feature__img {
    margin-bottom: calc(var(--space-900) + 1px);
}

.feature__img img {
    margin-inline: auto;
}

.feature__content h3 {
    font-size: var(--font-size-400);
    margin-bottom: calc(var(--space-500) + 1px);
}

.feature__content p {
    color: var(--color-neutral-200);
}

@media only screen and (min-width: 768px) {
    .feature-panel {
        margin-block: calc(19rem + 1px) 9.875rem;
        text-align: left;
    }

    .feature-panel__container {
        margin-inline: auto;
        max-width: var(--container);
    }

    .feature-panel h2::before {
        left: 0;
        transform: translateX(0);
    }

    .features {
        display: flex;
        gap: var(--space-1200);
    }

    .feature__img img {
        margin-inline: 0;
    }
}

.cta-banner {
    padding-inline: var(--space-600);
    color: var(--color-neutral-100);
}

.cta-banner__container {
    position: relative;
    z-index: 1;
    margin-inline: auto;
    padding: calc(var(--space-1600) + 0.5rem) calc(var(--space-1000) + 3px);
    max-width: var(--container);
    background-color: var(--color-dark-violet);
}

.cta-banner__container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 11rem;
    height: 100%;
    background-image: url("./images/bg-pattern-how-we-work-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cta-banner h2 {
    margin-bottom: var(--space-1000);
    font-size: clamp(
        calc(var(--font-size-500) - 0.5rem),
        -0.944rem + 7.175vw,
        calc(var(--font-size-500) + 0.5rem)
    );
    line-height: 1;
    text-align: center;
}

.cta-banner__callout {
    margin-inline: auto;
    width: 10rem;
}

@media only screen and (min-width: 768px) {
    .cta-banner__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: calc(var(--space-1600) + 0.25rem) 5rem;
    }

    .cta-banner__container::before {
        width: 27.125rem;
        background-image: url("./images/bg-pattern-how-we-work-desktop.svg");
    }

    .cta-banner h2 {
        margin: 0;
        max-width: 29.625rem;
        text-align: left;
    }

    .cta-banner__callout {
        margin: 0;
    }
}
